.myPage {
  background-color: #fefbe7;
  .wrapMyPage {
    width: 60rem;
    height: 46rem;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    margin: 0 auto;
    .leftColum {
      padding-top: 5rem;
    }
    .rightColum {
      .whiteBox {
      }
    }
  }
}
