.main {
  display: flex;
  justify-content: center;

  .mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;

    .eventBannerDiv {
      display: flex;
      justify-content: center;

      .eventBanner {
        padding-top: 5%;
        width: 80%;
      }
    }
  }
}
