$black-color: #363636;
$blue-color: #4c6ef5;
$orange-color: #fd7e14;

.detailGoods {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;

  .goodsImgContainer {
    padding-right: 0.94rem;
    width: 50%;

    .goodsSmallImg {
      padding-top: 0.63rem;
      list-style: none;

      .smallImgList {
        display: inline;
        cursor: pointer;
      }
    }
  }

  .goodsFormWrapper {
    .goodsFormContainer {
      width: 36.3rem;
      padding-left: 15%;
      margin-bottom: 0.3rem;

      .goodsFormHeader {
        padding-bottom: 1.5rem;
        margin: 0 0 1.5rem;
        border-bottom: 1px solid #3636361a;
        font-size: 1.38rem;
        line-height: normal;

        .goodsFormHeaderTop {
          margin-bottom: 0.3rem;

          .goodsFormHeaderTitle {
            margin-right: 0.31rem;
            font-size: 1.38rem;
          }

          .goodsFormHeaderSale {
            margin-right: 0.5rem;
            padding: 0.06rem 0.31rem;
            background-color: $blue-color;
            border: $blue-color;
            color: white;
            font-size: 0.81rem;
            font-weight: bold;
          }

          .goodsFormHeaderBest {
            padding: 0.06rem 0.31rem;
            border: 1px solid $orange-color;
            color: $orange-color;
            font-size: 0.81rem;
            font-weight: bold;
          }
        }

        .goodsFormHeaderPrice {
          line-height: 1.5;

          .originalPrice {
            font-size: 0.94rem;
            text-decoration: line-through;
            opacity: 0.7;
          }

          .saleRate {
            margin-right: 0.31rem;
            color: red;
            font-size: 1.5rem;
          }

          .salePrice {
            font-size: 1.5rem;
          }

          .fa-solid {
            margin-left: 18.75rem;
          }
        }
      }

      .goodsSummaryText {
        margin-bottom: 1.25rem;
        color: #363636b3;
        font-size: 0.88rem;
        line-height: 1.6;
      }

      .goodsFormItemDetail {
        color: #363636cc;
        font-size: 0.94rem;

        .itemDetailInfo {
          margin-right: 0.31rem;
          color: black;
          font-weight: bold;
        }

        p {
          margin-bottom: 0.31rem;
        }
      }

      .goodsFormItemQuantity {
        margin-top: 0.75rem;
        padding-top: 0.75rem;

        .goodsQuantity {
          padding-bottom: 0.5rem;
          font-weight: bold;
        }

        .goodsQuantitySelect {
          width: 40%;
          padding: 0.5rem 1.5rem 0.5rem 0.75rem;
          border: 1px solid #ddd;
          font-size: 0.88rem;
          cursor: pointer;
        }
      }

      .goodsFormButton {
        margin-top: 1.88rem;

        button {
          padding: 0.75rem 0;
          margin-right: 0.5rem;
          width: 30%;
          border-radius: 1.88rem;
          border: 1px solid #ddd;
          background-color: white;
          cursor: pointer;
        }

        #buyButton {
          background-color: $black-color;
          border-color: $black-color;
          color: white;
        }
      }
    }
  }
}
