.rollingBannerWindow {
  padding: 3% 0;
  position: relative;
  background-color: #fafafa;

  .rollingWindowContainer {
    display: flex;
    justify-content: space-between;
    transition: 0.3s all ease-in;
    background-color: #fafafa;

    #windowCard {
      padding: 3%;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fafafa;

      .imgScss {
        height: 350px;
      }

      .textSet {
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        text-align: center;

        .content {
          font-size: 30px;
          color: #004880;
        }

        .sub {
          padding-top: 3%;
          color: #6d8fb1;
        }
      }
    }
  }

  .refDotContainer {
    position: absolute;
    display: flex;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    .dots {
      width: 8px;
      height: 8px;
      border-radius: 8px;
      margin: 0 10px;
      background-color: rgba(10, 10, 10, 0.5);
      transition: 0.3s all ease-in;
    }

    .active {
      width: 24px;
      height: 8px;
      background-color: rgba(20, 20, 20, 0.8);
    }
  }
}
