.listContainer {
  max-width: 1248px;
  height: 100%;
  margin: 0 auto;
  .listNavContainer {
    margin: 0 auto;
    .navList {
      display: flex;
      margin-right: 25px;
      text-decoration: none;
      .listName {
        font-size: 1rem;
        color: rgba(54, 54, 54, 0.7);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .productListContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  .listMainName {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 24px;
    color: #000;
    text-align: center;
  }
}
