.jaesungCart {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  .inside {
    padding-left: 1rem;
    padding-right: 1rem;

    max-width: 1280px;
    margin: 0 auto;
    .basket {
      padding-top: 2rem;
      font-size: 24px;
      text-align: left;
      display: block;
      margin-left: 1rem;
      color: black;
      .blue {
        background-color: #00498f;
        border-radius: 50%;
        padding: 0 10px 0 10px;
        color: white;
      }
    }
    .cart {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;
      font-size: 14px;
      .tableWrapper {
        display: flex;
        flex-direction: column;
        margin: auto;
        table {
          width: 76rem;
          border-bottom: 1px solid #ddd;
          border-top: 1px solid #ddd;
          border-collapse: collapse;
          .checkBox1 {
            text-align: left;
          }

          .checkBox {
            width: 40px;
            color: #ddd;
            vertical-align: middle;
            text-align: left;
          }
          .InfoTh {
            width: 600px;
            text-align: left;
            padding-top: 10px;
            padding-left: 150px;
          }
          .thcartinfo {
            vertical-align: middle;
            padding: 0.6rem 0;
            border-bottom: 1px solid #ddd;
            text-align: center;
          }
        }
      }
    }
  }
}
