.listTr {
  width: 100%;
  .checkBox {
    width: 40px;
  }
  .listInfo {
    // display: flex;

    .infoImage {
      display: flex;
      align-items: center;
      width: 600px;
      text-align: left;

      .admitDiv {
        margin-top: 10px;
        .productImage {
          width: 80px;
          height: 80px;
        }
      }
      .itemInfo {
        margin-left: 2rem;
        width: 100%;
      }
      .xButton {
        color: rgb(180, 176, 176);
        background-color: white;
        border: none;
        cursor: pointer;
        font-size: 17px;
      }
    }
  }
  .listTh {
    width: 600px;
    height: 100px;
    vertical-align: middle;
    position: relative;
    padding-left: 10px;
    .plusMinusBox {
      padding-left: 50px;
      .miNus {
        background-color: white;
        margin-right: 10px;
        border: 1px solid #ddd;
        cursor: pointer;
      }
      .pLus {
        background-color: white;
        margin-left: 10px;
        border: 1px solid #ddd;
        cursor: pointer;
      }
    }

    .buyNow {
      position: absolute;
      right: 3%;
      bottom: 40%;
      color: white;
      background-color: #00498f;
      border-radius: 10px;
      cursor: pointer;
      font-size: 14px;
      border: 1px solid black;
    }
  }
}
