.navBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  .navContainer {
    list-style: none;
    width: 650px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
  }
  .dropDownBoxContainer1 {
    display: none;
  }
  .dropDownBoxContainer2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .dropDownBoxContainer3 {
  }
  .dropDownBoxContainer4 {
    display: none;
  }
  .dropDownBoxContainer5 {
    display: none;
  }
}
