.seongjuMain {
  height: 100%;
  width: 100%;
  margin: 0 auto;

  .inside {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: yellow;
    max-width: 1280px;
    margin: 0 auto;

    .goodsWrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      background-color: green;

      .goodsImgContainer {
        background-color: purple;
        padding-left: 15px;
        padding-right: 15px;
        width: 50%;

        .goodsSmallImg {
          background-color: goldenrod;
          height: 50px;
          margin-bottom: 0;
          padding: 10px 0 0 0;
          list-style: none;
        }
      }

      .goodsFormWrapper {
        .goodsFormContainer {
          background-color: white;
          width: 550px;
          height: 500px;
          padding-left: 15%;
          margin-bottom: 0.3em;

          .goodsFormHeader {
            font-size: 22px;
            line-height: normal;
            border-bottom: 1px solid #3636361a;

            .goodsFormHeaderTop {
              margin-bottom: 0.3em;

              .goodsFormHeaderTitle {
                margin-right: 5px;
                font-size: 22px;
              }

              .goodsFormHeaderSale {
                background-color: #4c6ef5;
                border: #4c6ef5;
                font-size: 13px;
                margin-right: 8px;
                padding: 1px 5px;
                font-weight: bold;
                color: white;
              }

              .goodsFormHeaderBest {
                border: 1px solid #fd7e14;
                font-size: 13px;
                padding: 1px 5px;
                color: #fd7e14;
                font-weight: bold;
              }
            }
            .goodsFormHeaderPrice {
              .originalPrice {
                line-height: 1.5;
                opacity: 0.7;
                font-size: 16.8px;
                text-decoration: line-through;
              }

              .saleRate {
                margin-right: 5px;
                color: #fe5356;
                font-size: 24px;
              }

              .salePrice {
              }
            }
          }
        }
      }
    }
  }
}
