//css 슬라이드
/* .rollingBanner {
  display: grid;
  justify-content: center;
  place-items: center;
}
.rollingBannerContainer {
  width: 100%;
  max-width: 1777px;
  position: relative;
  overflow-x: hidden;
  place-items: center;
  display: grid;
}

.rollingBannerBox {
  display: flex;
  width: calc(1777px * 5);
  animation: scroll 10s steps(1, start) infinite;
}

.rollingBannerList {
  list-style: none;
  float: left;
  display: flex;
  align-items: center;
} */
.rollingBanner {
  display: flex;
}

.rollingBannerContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  .slideImg {
    position: absolute;
    opacity: 0;
    transition: 0.3s all ease-in;
  }
  .active {
    opacity: 1;
  }
}

.dotContainer {
  position: absolute;
  display: flex;
  bottom: -40%;
  transform: translateX(-50%);
  left: 50%;
}

.dots {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all ease-in;
}

.active {
  width: 24px;
  height: 8px;
  background-color: rgba(20, 20, 20, 0.8);
}
