@import '../../styles/variables.scss';

.nav {
  .navTop {
    @include align;
    height: 62px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f2ede7;

    .navTopBox {
      display: block;
      max-width: 1777x;
      margin: 0 auto;
      padding-left: 16px;
      padding-right: 16px;
    }

    .navtopLink {
      text-decoration: none;
    }

    .navText {
      color: rgb(0, 26, 129);
      font-weight: 700;
      font-size: 17px;
      cursor: pointer;
    }
  }

  .navMiddle {
    @include alignItems;
    max-width: 1248px;
    height: 186px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    .navMiddleLeft {
      @include align;
      padding-top: 30px;
      padding-bottom: 30px;
      height: 186px;

      .moveMyPage {
        padding-right: 10px;
        text-decoration: none;
        color: grey;
        cursor: pointer;
      }

      .moveLogin {
        text-decoration: none;
        color: grey;
        cursor: pointer;

        .loginText {
          font-size: 14px;
        }
      }

      .moveSignUp {
        padding-left: 10px;
        text-decoration: none;
        color: grey;
        cursor: pointer;

        .signupText {
          font-size: 14px;
        }
      }
    }

    .navMiddleCenter {
      @include align;
      flex: 1;
      width: 283px;
      height: 186px;

      .logoImage {
        width: 450px;
      }
    }

    .navMiddleRight {
      @include align;
      padding-top: 30px;
      padding-bottom: 30px;
      height: 186px;
      text-align: right;

      .moveSearch {
        color: grey;
        text-decoration: none;
        cursor: pointer;
      }

      .moveCart {
        margin-left: 2rem;
        color: grey;
        text-decoration: none;
        cursor: pointer;

        .cartText {
          padding-left: 10px;
          color: grey;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
  }

  .navBottom {
    height: 60px;
  }
}
